body {
	font-family: 'Crimson Text', serif;
	font-size: 20px;
}

.title {
	font-size: 150%
}

.byline {
	font-size: 80%;
}

.content {
	width: 25em;
	margin-left: auto;
	margin-right: auto;
}

.poem {
	padding-top: 1em;
	padding-bottom: 1em;
}

.stanza {
	padding-bottom: 1em;
}

.couplet {
	padding-left: 2em;
}

.indented {
	padding-left: 4em;
}